*        text=auto
*.java        text
*.properties    text
*.xml        text
*.css        text
*.js        text
*.html        text
 
 
# shell scripts must always use lf
*.sh    text    eol=lf
 
 
# binary files, should never be modified
*.png        binary
*.jpg        binary
*.pdf        binary
*.jar        binary